smsgw
# Ignore any IDE-specific files or directories
.idea/
*.sublime-project
*.sublime-workspace

# Ignore system-specific files
.DS_Store
Thumbs.db
dist/

# GoLand IDE files
*.iml

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Compiled Binary files
*.exe
*.out

# Dependency directories
vendor/
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
